<html>
<body>
<br>
<center>
	
	<table>
		<tr>	
			<td class="tdPadding">Name : </td><td  class="tdPadding"><input type="text" placeholder="Enter Name" ng-model="user.name"></td>
		</tr>
		<tr>
			<td class="tdPadding">Mobile No. : </td><td class="tdPadding"><input type="text" placeholder="Enter Mobile No." ng-model="user.mobileNo"></td>
		</tr>
		<tr>
			<td class="tdPadding">Password : </td><td class="tdPadding"><input type="text" placeholder="Enter Password" ng-model="user.password"></td>
		</tr>
		<tr>
			<td></td><td><button ng-click="register()">Register!</button></td>
		</tr>
	</table>
	
	<br><br>
	
	Already a Member? <a ng-click="goToLogin()">Click Here!</a>
	
</center>
<br>
<br>
</body>
</html>